.app.dark {
    --bg-color: #303030;
    --inverted-bg-color: #D9D9D9;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
